/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Globals */
:root {
  --font-family: 'Fira Code', monospace;
  --primary-color: #1a202c;
  --secondary-color: #a1a1a1;
  --error-color: #ef4444;
}

.header,
footer,
body {
  font-family: var(--font-family);
}

/* inputs e botões */
.input {
  width: 30rem;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.25rem;
  transition: border-color 0.3s;
  outline: none;
  scrollbar-width: thin;
}

/* Estilos para a barra de rolagem no campo de mensagem */
textarea {
  scrollbar-width: thin; /* nem todos os browsers suportam scrollbar-width */
}

/*isso só pega em chromium e derivados, procurar alternativa*/
textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --secondary-color
  ); /* Cor do thumb ao passar o mouse */
}

.input-error {
  border-color: var(--error-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #2d3748;
}

/* header */
.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: fixed;
  /* text-size-adjust: inherit; */
}

button.activeLanguage {
  background-color: #68767f;
  color: #fff;
  transition: background-color 0.8s, color 0.8s; 
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition-property: 3;
}

button.activeLanguage:hover {
  background-color: #2d3748;
}

/* footer */
.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: absolute;
  padding: 2rem;
  padding-top: 1.5rem;
  text-align: center;
}

.footer__social-icons {
  margin-bottom: 1rem;
}

.footer__social-icon {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--secondary-color);
}

.footer__contact-info {
  margin-bottom: 1rem;
}

.footer__copyright {
  font-size: 0.8rem;
}

/* Charizard */
.charizard-pokebola {
  display: flex;
  margin-top: -30px;
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
  height: 18vh; /* Definir altura igual à altura da tela */
}

.resized-charizard {
  max-width: 80%; 
  max-height: 200px; 
}
