@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Seus estilos personalizados podem ser adicionados aqui */
/* styles.css */
.border-error {
  border-color: #ef4444 !important;
}

.text-error {
  color: #ef4444;
}

/* Estilos para o footer */
.footer {
  background-color: #1a202c;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
}

.footer__social-icons {
  margin-bottom: 1rem;
}

.footer__social-icon {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: #ffffff;
}

.footer__contact-info {
  margin-bottom: 1rem;
}

.footer__copyright {
  font-size: 0.8rem;
}
